<div class="p-2">
    <h4>Examples</h4>
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        Welcome to
        <strong class="green">
            iNet UI
        </strong>,
        the lightweight, feature-rich and easy to use admin template.
    </div>
    <p>
        <a href="https://npmjs.org/package/inet-ui"><img src="http://img.shields.io/npm/v/inet-ui.svg?style=flat" /></a>&nbsp;
        <a href="https://npmcharts.com/compare/inet-ui?minimal=true"><img src="http://img.shields.io/npm/dm/inet-ui.svg?style=flat" /></a>&nbsp;
        <a href="https://www.codacy.com/app/nguyenthanhvy105/examples?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=nguyenthanhvy105/examples&amp;utm_campaign=Badge_Grade"><img src="https://api.codacy.com/project/badge/Grade/a9b84096d29f49738ba028f38e0606b7"/></a>&nbsp;
        <a href="https://travis-ci.org/nguyenthanhvy105/examples"><img src="https://travis-ci.org/nguyenthanhvy105/examples.svg?branch=master" alt="build:passed"></a>
    </p>
    <p>Provides API, Layout, Component, Module for UI</p>
    <p class="bd-lead">Quickly get a project started with any of our examples ranging from using parts of the framework
        to custom components and layouts.</p>
    <h4>Components:</h4>
    <ul>
        <li><a routerLink="/themes">Themes</a></li>
        <li><a routerLink="/select">Select & Tags</a></li>
        <li><a routerLink="/grid">Grid</a></li>
        <li><a routerLink="/list-view">ListView</a></li>
        <li><a routerLink="/form">Forms</a></li>
    </ul>
    <h4>Source Code:</h4>
    <a class="btn btn-primary btn-lg" href="https://github.com/nguyenthanhvy105/examples" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
        GitHub</a>
    <a class="ml-1 btn btn-success btn-lg" href="https://github.com/nguyenthanhvy105/examples/archive/master.zip">
        <i class="fa fa-download" aria-hidden="true"></i>
         Download</a>
</div>
