<div class="p-2">
    <h4>Examples</h4>
    <p>Provides API, Layout, Component, Module for UI</p>
    <p class="bd-lead">Quickly get a project started with any of our examples ranging from using parts of the framework
        to custom components and layouts.</p>
    <h4>Components:</h4>
    <ul>
        <li><a routerLink="/select">Select & Tags</a></li>
        <li><a routerLink="/grid">Grid</a></li>
        <li><a routerLink="/list-view">ListView</a></li>
        <li><a routerLink="/form">Forms</a></li>
    </ul>
    <h4>Source Code:</h4>
    <a class="btn btn-primary btn-lg" href="javascript:;">
        <i class="fa fa-github" aria-hidden="true"></i>
        GitHub</a>
    <a class="ml-1 btn btn-success btn-lg" href="javascript:;">
        <i class="fa fa-download" aria-hidden="true"></i>
         Download</a>
</div>
