body {
  overflow: hidden;
}
.admin-layout {
  width: 100%;
  background: #FFFFFF;
  padding: 0;
  height: 100%;
}
.data-table.table .badge {
  font-size: 100%;
}

.ng-select-invalid {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1px #dc3545;
  border-radius: 4px ;
}
