<ul id="mainnav-menu" class="menu-lg list-group">
    <li class="list-header">Menu</li>
    <li routerLinkActive="active">
        <a routerLink="home" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="menu-title">{{'MENU.HOME' | translate}}</span>
        </a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="themes" routerLinkActive="active">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <span class="menu-title">{{'MENU.THEME' | translate}}</span>
            <span class="pull-right badge badge-warning">New</span>
        </a>
    </li>
    <li routerLinkActive="active active-sub">
        <a href="#select-menu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="menu-title">Select & Tags</span>
            <i class="arrow"></i>
        </a>
        <ul id="select-menu" class="submenu collapse" routerLinkActive="show">
            <li>
                <a routerLink="select/tags" routerLinkActive="active">
                    <i class="fa fa-tags"></i> Tags
                </a>
            </li>
            <li>
                <a routerLink="select/multiselect" routerLinkActive="active">
                    <i class="fa fa-check-square"></i> Multiselect
                </a>
            </li>
        </ul>
    </li>
    <li routerLinkActive="active active-sub">
        <a href="#grid-menu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-table"></i>
            <span class="menu-title">Grid</span>
            <i class="arrow"></i>
        </a>
        <ul id="grid-menu" class="submenu collapse" routerLinkActive="show">
            <li>
                <a routerLink="grid/basic" routerLinkActive="active">
                    <i class="fa fa-cog"></i> Basic
                </a>
            </li>
            <li>
                <a routerLink="grid/editable" routerLinkActive="active">
                    <i class="fa fa-table"></i> Editable
                </a>
            </li>
            <li>
                <a routerLink="grid/grouping" routerLinkActive="active">
                    <i class="fa fa-table"></i> Grouping
                </a>
            </li>
        </ul>
    </li>
    <li routerLinkActive="active active-sub">
        <a href="#list-view-menu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-list"></i>
            <span class="menu-title">ListView</span>
            <i class="arrow"></i>
        </a>
        <ul id="list-view-menu" class="submenu collapse" routerLinkActive="show">
            <li>
                <a routerLink="list-view/basic" routerLinkActive="active">
                    <i class="fa fa-cog"></i> Basic
                </a>
            </li>
        </ul>
    </li>
    <li routerLinkActive="active active-sub">
        <a href="#forms-menu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <span class="menu-title">Forms</span>
            <i class="arrow"></i>
        </a>
        <ul id="forms-menu" class="submenu collapse" routerLinkActive="show">
            <li>
                <a routerLink="form/elements" routerLinkActive="active">
                    <i class="fa fa-cog"></i> Elements
                </a>
            </li>
            <li>
                <a routerLink="form/number-format" routerLinkActive="active">
                    <i class="fa fa-calculator"></i> Number Format
                </a>
            </li>
            <li>
                <a routerLink="form/file-upload" routerLinkActive="active">
                    <i class="fa fa-cloud-upload"></i> File Upload
                </a>
            </li>
        </ul>
    </li>
    <li routerLinkActive="active">
        <a href="https://valor-software.com/ngx-bootstrap/#/documentation#getting-started" target="_blank">
            <i class="fa fa-codepen" aria-hidden="true"></i>
            <span class="menu-title">ngx-bootstrap</span>
        </a>
    </li>
</ul>
